.category-header .description p { margin: 0; }
.page-category .breadcrumb .breadcrumb-item:last-child {
	display: none;
}
.custom-description {
    color: #957B65; /* 自定义颜色 */
    font-size: 1.1rem; /* 自定义文字大小 */
}
.section-name {
    color: #5e4631; /* 修改为需要的颜色 */
}

.category-children-item a {
    color: #5e4631; /* 和主版块的颜色保持一致 */
}

.custom-icon {
	color: #AB372F;
}

.category-children-item a.text-reset {
    color: #5e4631 !important; /* 覆盖 text-reset 的颜色设置 */
}

.custom-text-color {
	color: #957B65;  /* 修改为你需要的文本颜色 */
}
  
.custom-card-bg {
	background-color: #D4BFAD;  /* 修改为你需要的卡片背景颜色 */
}

.custom-icon-color {
	color: #957B65 !important;  /* 修改为你需要的图标颜色 */
}

.post-content { // topic_list.tpl 标题 & 正文文本颜色
    color: #5E4631 !important; /* 你希望的颜色 */
}

.no-replies { // topic_list.tpl “尚未回复”文本颜色更改
    color: #5E4631;
}

// topic_list.tpl vote 文字图标以及背景颜色更改
/* 修改文字颜色 */
.text_icon {
    color: #957B65 !important;
}
/* 修改背景颜色 */
.card_background {
    background-color: #D4BFAD; /* 新的背景色 */
    border-color: #D4BFAD;   /* 可选：为边框添加颜色 */
}
