// hide brand/title on user and group details pages so it doesnt break covers
body[class*="template-account-"], .template-chats, .template-groups-details, .template-register, .template-login {
	.brand-container {
		display: none;
	}
}
[component="brand/wrapper"] {
	&:hover {
		background-color: $card-cap-bg;
	}
}

[component="brand/logo"] {
	max-height: 48px;
	width: auto;
}

.brand-with-background {
    background-image: url('https://i.postimg.cc/Yq600wT7/head.png');
    background-size: cover; /* 背景图像覆盖容器 */
    background-position: center; /* 背景图居中显示 */
    background-repeat: no-repeat; /* 防止背景图重复 */
}

#panel {
    background-image: url('https://i.postimg.cc/YCCrTGQT/image.png');
    background-size: cover; /* 背景图像覆盖整个元素 */
    background-position: center; /* 背景图居中显示 */
    background-repeat: no-repeat; /* 防止背景图重复 */
    background-attachment: fixed; /* 背景图片固定不随滚动 */
}

.brand-container {
	padding-left: 0 !important;
	padding-right: 0 !important;
	min-height: 200px !important; /* 或其他你希望的最小高度 */
}

.custom-title-color { // title 的颜色
    color: #F8F4ED;
}

.custom-min-height { // title 容器的高度
    min-height: 200px !important;
}

.custom-title-bottom { // title 置底
    margin-top: auto;
}

.register, .login {
	background-image: url('https://i.postimg.cc/65HMp11j/image.png') !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; /* 背景图片固定不随滚动 */
	min-height: calc(100vh + var(--panel-offset, 0px)); /* 包括 panel-offset */
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100vw;
  	height: 100vh;
}
	